<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
<div>
    <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
    <pre><code>
      // Rut Válido //
      // Recibe formato con las siguientes combinaciones //

      const rut = "91551241"
      const valid = CC.verify(rut) // true

      const rut = "9155124-1"
      const valid = CC.verify(rut) // true
      
      const rut = "9.155.124-1"
      const valid = CC.verify(rut) // true

      const rut = "9.1551241"
      const valid = CC.verify(rut) // true
      
      const rut = "9155.124-1"
      const valid = CC.verify(rut) // true


      // Rut No Válido //
      // Otros formatos no son válidos //

      const invalidrut = "9.155..124-1"
      const valid = CC.verify(invalidrut) // false

      const invalidrut = ".9155.124--1"
      const valid = CC.verify(invalidrut) // false
                          </code></pre>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script src="/assets/js/main.js"></script>

